<div class="example-container">
  <form class="example-form">
    <label>Escolha sua categoria de filme</label>
    <select matNativeControl
            name="categoria"
            [(ngModel)]="categoriaSelecionada"
            (ngModelChange)="atualizarCategoriaSelecionada($event)">
      <option value="">Selecione uma categoria</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">
        {{categoria}}
      </option>
    </select>
  </form>
  <ul>
    <li *ngFor="let filme of filmesFiltrados" class="filme-item">
      <div class="filme-info">
        {{filme.titulo}} ({{filme.categoria}})
      </div>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
