.example-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #eaf6ff; /* Azul claro - background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.example-form {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #b3d4e6; /* Azul claro - borda */
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

select {
  padding: 8px;
  font-size: 16px;
  background-color: #d6ebff; /* Azul claro - fundo do select */
  border: 1px solid #99b3cc; /* Azul claro - borda do select */
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #336699; /* Azul mais escuro - cor do label */
}
